@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, wireframe, cupcake, pastel;
}

@plugin "daisyui/theme" {
    name: "pastel";
    default: true;
  
    --color-primary: #FFE5B4;      /* Pastel Peach */
    --color-secondary: #FADADD;    /* Pastel Rose */
    --color-accent: #E6E6FA;       /* Pastel Lavender */
    --color-neutral: #2E2E2E;      /* Dark neutral for text */
    --color-base-100: #ffffff;     /* Base background */
    --color-info: #a7c7e7;         /* Soft Blue */
    --color-success: #D5F3E5;      /* Pastel Mint */
    --color-warning: #FFFACD;      /* Lemon Chiffon */
    --color-error: #F6A5A5;        /* Soft Red */
  }



  /* In global.css or tailwind.config.css */
.step-custom-error::before {
  background-color: #fca5a5 !important; /* red-500 */
}

.leaflet-tooltip.leaflet-tooltip-top {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
  color: black;
  font-weight: bold;

}

.leaflet-popup-content {
  padding: 0 !important;
}


@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}